# Name of the wiki which the emails will populate (must be running on the same host)
$::wiki = "http://localhost/wiki/index.php";

# The wiki template to wrap the email paramaters in
$::template = "Email"

# Extract just the email address portion of the FROM and TO fields
$::emailonly = 1;

# Details of the POP or IMAP server to check for messages
$::type = "IMAP";
$::host = "imap.gmail.com";
$::user = "foo";
$::pass = "bar";

# Delete messages after processing them
$::remove = 0;

# Maximum amount of message to download
$::limit = 20000000;

# Format of the title for the corresponding article in the wiki
$::format = "Email:\$id (\$subject)";

# The user the webserver runs as
$::owner = "www-data";

1;
