/*
 * This CSS is applies by default to all wikis using wikia.php
 * - it can be disabled with $wgUseWikiaCss = false
 */

table.changes { border:none; width:100% }
table.changes th { background: #dfdfdf; color: #4E507F; text-align: center; white-space: nowrap; }
table.changes tr { margin:0; padding:0 }
table.changes td { margin:0; padding: 1px 4px; vertical-align: top }
table.changes td.heading { font-size: 110%; font-weight:bold; padding-top:10px }
table.changes td.comment { width:100% }
table.changes td.talk,
table.changes td.diff { font-size: 90% }
table.changes td.user,
table.changes td.talk,
table.changes td.diff,
table.changes td.info { white-space: nowrap; }
tr.mw-line-odd { background: #fff; }
tr.mw-line-even { background: #eee; }

table.message {
	width: 100%;
	margin: 5px 0 0 0;
	padding: 3px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	vertical-align: top;
	}

/* Calendar */
table.calendar       { margin: 0; padding: 10px; }
table.calendar td    { margin: 0; padding: 2px; vertical-align: top; }
table.calendar th    { padding:2px; background-color:#ddd; color:#aaa; text-align:center; font-size:120%; font-weight:bold; border: none; }
table.month          { border: 2px solid #ccc; }
table.month .dow th  { color:#aaa; text-align:center; font-size:110%; }
table.month td.today { background-color:#ddd; }
table.month td {
	border: none;
	margin: 0;
	padding: 1pt 1.5pt;
	font-weight: bold;
	font-size: 8pt;
	text-align: right;
	background-color: #eee;
	}
table.month td.day-active a { color:#217A28 }
table.month td.day-empty  a { color:#cc0000 }

/* All forms */
form fieldset { border: solid 1px #ccc; margin-bottom:10px }
form legend { font-weight:bold }
form h5 { padding: 8px 0 0 0; margin:0; font-weight:normal; font-size:8pt }
form .editsection { display:none }
.namespacesettings form { background: none; }

#catlinks a, #catlinks b { padding: 0 5px; }
#catlinks a.current {
	background-color: #3D5270;
	color: white;
	}

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landr�		   |
|--------------------------------------------------*/
.dtree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dTreeNode { height: 18px }
.dtree a {
	color: black;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a:hover, .dtree a.node:hover, .dtree a.nodeSel:hover {
	color: black;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
	padding-bottom: 1px;
}

/*
* Dynamic menus
*/
.dmenu { width: 180px }

.dmenu, .dmenu ul { /* all lists */
padding: 0;
margin: 0;
list-style: none;
}
.dmenu .selflink { font-weight: normal; }

.dmenu li { /* all list items */
position: relative;
float: left;
width: 172px;
padding: 4px;
z-index: 100;
}

.dmenu li,
.dmenu li.even a,
.dmenu li.odd a,
.dmenu li li,
.dmenu li li a,
.dmenu li li li,
.dmenu li li li a {
color : black;
}

.dmenu li li { margin: 0; }

.dmenu li ul { /* second-level lists */
position: absolute;
left: -999em;
z-index: 101;
border: 1px solid #ccc;
}

.dmenu li ul ul { /* third-and-above-level lists */
position: absolute;
left: -999em;
margin: 0 0 0 0;
z-index: 102;
}

.dmenu li.odd .submenu {
width: 12px;
height: 15px;
float: right;
background: url(/wiki/skins/organicdesign/rarr-lt.png) 0 3px no-repeat;
}
.dmenu li.even .submenu {
width: 12px;
height: 15px;
float: right;
background: url(/wiki/skins/organicdesign/rarr-dk.png) 0 3px no-repeat;
}
.dmenu li.odd {
	background: #E9EDF4;
	border: 2px solid #E9EDF4;
}
.dmenu li.even {
	background: #D0D8E8;
	border: 2px solid #D0D8E8;
}

.dmenu li:hover, .dmenu li.sfhover {
	border: 2px solid #385D8A;
}

.dmenu li:hover ul ul,
.dmenu li:hover ul ul ul,
.dmenu li.sfhover ul ul,
.dmenu li.sfhover ul ul ul {
left: -999em;
}

.dmenu li:hover ul,
.dmenu li li:hover ul,
.dmenu li li li:hover ul,
.dmenu li.sfhover ul,
.dmenu li li.sfhover ul,
.dmenu li li li.sfhover ul { /* lists nested under hovered list items */
left: 182px;
top: -3px;
}

/* Web site */
.web-bar li {
	display: inline;
	padding: 2px 10px;
	margin: 0 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.web-bar li.selected {
	border-bottom: 2px solid white;
}
.web-bar li .selflink {
	color: #4E507F;
}
.web-bar li a, .web-bar .selflink { font-weight: normal }
ul.web-bar {
	width: 100%;
	list-style: none;
	padding: 0 0 2px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #ccc;
	overflow: visible;
}

/* RSS */
div.rss {
	margin: 5px 0 20px 0;
	padding: 5px;
	border: 1px solid #D0D6F0;
}
div.rss h3 {
	background: #D0D6F0;
	padding: 2px 5px;
	margin: 0;
	font-size: 11pt;
}
#content .rss h3 a { color: #4E507F }
div.rss strong { font-weight: normal }

.news-content img { margin-left: 20px }

#content .news-container a {
	color: #D0D6F0;
	font-weight: bold;
	font-size: 150%;
}
#content .news-container .news-content a {
	color: #217A28;
	font-weight: normal;
	font-size: 100%;
}

.featured-content ul {
	list-style: none;
	margin: 0;
}
.featured-content h3 { text-align: center }

/* make the list of references look smaller */
ol.references {
	font-size: 100%;
}
 
.references-small { font-size: 90%;}
 
/* VALIDATOR NOTICE: the following is correct, but the W3C validator doesn't accept it */
/* -moz-* is a vendor-specific extension (CSS 2.1 4.1.2.1) */
/* column-count is from the CSS3 module "CSS Multi-column Layout" */
/* Please ignore any validator errors caused by these two lines */
.references-2column {
	font-size: 90%;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
}
 
.same-bg { background: none; }
 
/* Highlight clicked reference in blue to help navigation */
ol.references > li:target {
	background-color: #DEF;
}
 
sup.reference:target { 
	background-color: #DEF;
}
 
/* Styling for citations */
cite {
	font-style: normal;
	word-wrap: break-word;
}
 
/* If there is an inline link to a full citation, the full citation will turn blue when the inline link is clicked */
cite:target { 
	background-color: #DEF;
}
 
/* Do not expand URLs within citations for printing. The URLs should be included explicitly, to avoid confusion */
 
@media print {
	#content cite a.external.text:after {
	display: none;
	}
}
 
/* For linked citation numbers and document IDs, where the number need not be shown on a screen or a handheld, but should be included in the printed version */
 
@media screen, handheld, projection {
	cite *.printonly {
	display: none;
	}
}


/* Tooltips */
.tooltip + .tooltip { display:none }
.tooltip:hover + .tooltip, .tooltip + .tooltip:hover {
	display: block;
	position: absolute;
	width: 200px;
	padding: 10px;
	border: 1px solid black;
	background-color: #F9E4D3;
}


/* Date Picker
 *
 * This is a very basic stylesheet for the date-picker. Feel free to create your own.
 */

/* The wrapper div */
div.datePicker {
	position:absolute;
	min-width:24em;
	width:24em;
	z-index:9999;
	text-align:center;

	/* Change the font-size to suit your design's CSS. The following line is for the demo that has a 12px font-size defined on the body tag */
	font:900 0.8em/0.8em Verdana, Sans-Serif;
	
	/* For Example: If using the YUI font CSS, uncomment the following line to get a 10px font-size within the datePicker */
	/* font:900 77%/77% Verdana; */

	background:transparent;

	/* Mozilla & Webkit extensions to stop text-selection. Remove if you wish to validate the CSS */
	-moz-user-select:none;
	-khtml-user-select:none;
}
/* Styles for the static datePickers */
div.staticDP {
	position:relative;
	top:5px;
	left:0;
}
/* The iframe hack to cover selectlists in Internet Explorer <= v6 */
iframe.iehack {
	position:absolute;
	background:#fff;
	z-index:9998;
	padding:0;
	border:0;
	display:none;
	margin:0;
}
/* The "button" created beside each input for non-static datePickers */
#bodyContent a.date-picker-control:link,
#bodyContent a.date-picker-control:visited,
#bodyContent a.date-picker-control:hover,
#bodyContent a.date-picker-control:active,
#bodyContent a.date-picker-control:focus {
	position:relative;
	/* Moz & FF */
	display: -moz-inline-stack;
	border:0 none;
	padding:0;
	margin:0 0 0 4px;
	background:transparent url( /files/5/5b/Date.gif ) no-repeat 50% 50%;
	min-width:16px;
	line-height:1;
	cursor:pointer;
	visibility:visible;
	text-decoration:none;
	vertical-align:middle;
}
/* Feed IE6 the following rule, IE7 should handle the min-width declared above */
* html a.date-picker-control { width:16px; }
a.date-picker-control { display:inline-block; }
a.date-picker-control span {
	display:block;
	width:16px;
	height:16px;
	margin:auto 0;
}
/* The next & previous buttons */
div.datePicker th span {
	display:inline;
	padding:0;
	margin:0;
	color:#000;
	text-align:center;
	line-height:1em;
	border-width:0;
	font-family: georgia, times new roman, palatino, times, bookman, serif;
	background:transparent;
	font-weight:bold;
	cursor:pointer;
}
div.datePicker th span.month-display,
div.datePicker th span.year-display {
	font:bold 1.2em Verdana, Sans-Serif;
	color: #4E507F;
	cursor:default;
}
div.datePicker th span.prev-but,
div.datePicker th span.next-but {
	font-size:1.8em;
	cursor:pointer !important;
}
div.datePicker th span.today-but {
	text-align:center;
	margin:0 auto;
	font:normal 1em Verdana, Sans-Serif;
	width:100%;
	text-decoration:none;
	line-height:1.6em;
	text-transform:uppercase;
	cursor:pointer !important
}
div.datePicker thead th span.fd-disabled {
	color:#aaa;
	cursor:default !important;
}
/* The mon, tue, wed etc day buttons */
div.datePicker th span.fd-day-header {
	text-align:center;
	margin:0 auto;
	font:900 1em Verdana, Sans-Serif;
	height:1.4em;
	width:2em;
	text-decoration:none;
	text-transform:lowercase;
	line-height:1.4em;
}
/* The table */
div.datePicker table {
	position:relative;
	margin:0;
	padding:0;
	border:1px solid #ccc;
	background:#fff url( /files/6/68/Od-pollen.jpg ) repeat-x 0 -20px;
	text-align:center;
	width:100%;
	border-spacing:2px;
	table-layout:fixed;
	border-collapse:separate;
}
/* Common TD & TH styling */
div.datePicker table td {
	border:1px solid #ccc;
	padding:0;
	text-align:center;
	vertical-align:middle;
	/* Opera requires a line-height bigger than 1em in order to redraw properly */
	line-height:1.2em;
	cursor:pointer;
	background:#fff url( /files/6/68/Od-pollen.jpg ) repeat-x 0 -40px;
	width:3em;
	height:3em !important;
	height:2.8em;
	outline:none;
}
div.datePicker table th {
	border:0 none;
	padding:0;
	line-height:1em;
	font-weight:bold;
	color:#222;
	text-align:center;
	vertical-align:middle;
}
div.datePicker table td.date-picker-unused {
	background:#fff url( /files/1/10/Date-stripes.gif );
	border-color:#dcdcdc;
	padding:0;
	cursor:default !important;
}
div.datePicker table thead th.date-picker-title {
	width:auto;
	height:auto;
	padding:0.4em 0;
}
/* The "mon tue wed etc" day header button styles */
div.datePicker table th.date-picker-day-header {
	text-transform: lowercase;
	width: 3em;
}
div.datePicker table th.date-picker-day-header span { display: block; }
/* The "todays date" style */
div.datePicker table td.date-picker-today {
	background: #E2E9FE;
	color: rgb(100,100,100) !important;
}
/* The "selected date" style */
div.datePicker table td.date-picker-selected-date {
	color: #333 !important;
	border-color: #333 !important;
}
/* the "highlight days" style */
td.date-picker-highlight { color: #a86666; }
/* The date "out of range" style */
div.datePicker table td.out-of-range {
	color: #ccc !important;
	font-style: oblique;
	background: #fcfcfc !important;
	cursor: default !important;
}
/* The "disabled days" style */
div.datePicker table td.day-disabled {
	color: #aaa !important;
	background: transparent !important;
	cursor: default !important;
}
/* The "active cursor" style */
div.datePicker table tbody td.date-picker-hover {
	background: #fff url( ../media/bg_header.jpg ) no-repeat 0 0;
	cursor: pointer;
	border-color: rgb(100,130,170);
	color: rgb(100,130,170);
}
/* Remove the images for Internet Explorer <= v6 using the "* html" hack */
* html div.datePicker table td { background-image: none; }
* html div.datePicker table td.date-picker-unused { background: #f2f2f2; }

/*Stop the screen writer from displaying over the top of the picker */

a.date-picker-control span.fd-screen-reader {display:none}


/* RECORDADMIN */ 

/* Recordadmin td auto-right and aligned top*/ 

.template_maintable td { width: 100%; }
.template_maintable th, .recordadmin-create th { white-space: nowrap; }

/*
 * RecordAdmin forms and tables
 */
.recordadmin-typeinfo {
	font-size: 14pt;
	color: #000000;
	line-height: 1px;
	padding: 10px 0 30px 0;
	clear: both;
}
.recordadmin-menubar {
	margin: 0 0 10px 0;	
}
#bodyContent .recordadmin-menubar a {
	color: #3D2566;
	font-size: 105%;
	font-weight: bold;
	margin: 0 20px 0 0;
}
form.recordadmin, .recordadmin-template {
	background-color: #F5F5F0;
	border: 1px solid #aaa;
	padding: 10px;
	display: table;
}
form.recordadmin h2 {
	font-size: 11pt;
	padding: 0 30px 10px 0;
	margin: 0;
}
form.recordadmin td p {
	font-size: 8pt;
	text-decoration: italic;
}
tr.stripe { background: #F5F5F0; }
.tabsetjsprefs tr.stripe { background: white; }
	table.sortable tr.odd {
	background-color: white;
}
table.recordadmin td,
table.recordadmin th,
table.sortable td {
	padding: 0 4px;
	margin: 0;
	font-size: 8pt;
	vertical-align: top;
	width: auto;
}
table.sortable th {
	text-align: left;
}

/* Default widths for recordtables */

table.recordadmin p { 
	padding: 0; 
	margin: 0;
	text-align: left; 
}

/*table.recordadmin td.long-record-description, td.colTask, td.colPurpose, td.colDescription, td.col-title, th.colTask, th.colDescription, th.col-title, th.colPurpose, table.recordadmin td.colTask, table.recordadmin td.colDescription, table.recordadmin td.col-title, table.recordadmin td.colPurpose, table.recordadmin th.colTask, table.recordadmin th.colDescription, table.recordadmin th.colPurpose, table.recordadmin th.col-title { white-space: normal }
*/

td.col-created, th.col-created, td.col-modified, th.col-modified, td.colType, th.colType, td.colStatus, th.colStatus, td.colLeader, th.colLeader, td.colAssignedTo, th.colAssignedTo, td.colAttention, th.colAttention, td.colPriority, th.colPriority, td.colRole, th.colRole {
	white-space: nowrap;
}

table.recordadmin td.long-record-description pre { overflow: hidden; }

.recordadmin fieldset th, .recordadmin fieldset td, #userlogin fieldset td, #userlogin fieldset th { 
	padding: 8px 15px 0 0;
	vertical-align: top;
	text-align: left;
 }

.template_maintable th, .template_maintable td { 
	padding: 4px 15px 0 0;
	vertical-align: top;
	text-align: left;
 }

.template_maintable p { margin: 0 0 0 0; }

.template_maintable td + th, .recordadmin fieldset td + th, fieldset.prefsection fieldset table td + th, table .recordadmin-create table td + th, .date_maintable td + th, #userlogin fieldset td + th { padding-left: 20px; }

.recordadmin-create label, .transaction-record label, .invoice-record label, .activity-record label, .department-record label, .date-record label, .document-record label, .organisation-record label, .person-record label, .role-record label, .procedure-record label, .project-record label, .task-record label, .prefsection label, #userlogin fieldset label { padding-left:10px }

.prefsection .template_maintable label { padding-left: 0 }

.recordadmin-cat th, .recordadmin-create fieldset th, .transaction-record fieldset th, .invoice-record fieldset th, .activity-record fieldset th, .department-record fieldset th, .date-record fieldset th, .document-record fieldset th, .organisation-record fieldset th, .person-record fieldset th, .role-record fieldset th, .procedure-record fieldset th, .project-record fieldset th, .task-record fieldset th, .prefsection fieldset th, #userlogin fieldset th { font-weight:normal; }

.prefsection fieldset .template_maintable th { font-weight: bold; }

/*max width of form selects and i's*/
.recordadmin-create select {
	max-width: 435px;
	float: left;
}


/* Date Record Type */
table.date_maintable table td, table.date_maintable table th { text-align: left; }
table.date_maintable table td p, table.date_maintable table th p { text-align: left; }


/* Template CSS */ 
.dynamicnav_title { width: 100%; text-align: left; padding-left: 5px; } 
.ra_infobox, .prefsection table.ra_infobox { 
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px; 
	background-color: #BBBBBB; 
	color: white; 
	font-size: 110%; 
	width: 100%;
	padding-right: 20px;
	margin: 35px 0 5px;
}
.ra_infobox a { 
	color: white; 
	font-size: 9pt; 
}
.template_maintable { 
	padding-left: 0; 
	padding-right: 15px; 
	padding-bottom: 0;  
	padding-top: 20px; 
	background-color: white; 
	width: 100%; 
} 
.prefsection table.ra_infobox td, .ra_infobox td { 
	vertical-align: middle;
	padding-right: 10px;
}

.prefsection table.ra_infobox td:first-child, .ra_infobox td:first-child { 
	width:50px;
}

/* Hide unwanted name fields */ 

/*.recordadmin-create-id {display:none}*/

/* Width of templates */
table.recordadmin-general { width:100%; vertical-align: top; }

/* Vertical align */
.template_maintable td { vertical-align: top; }


/* Vanadium input styles */
input.vanadium-invalid, select.vanadium-invalid, textarea.vanadium-invalid {
	border-color: red !important;
	border-style: solid !important;
}

input.vanadium-valid, select.vanadium-valid, textarea.vanadium-valid {
	border-color: #0F0 !important;
	border-style: solid !important;
}

.vanadium-message-value {
	font-style: italic;
	text-decoration: underline;
}

.vanadium-advice {
	font-size: 13px;
}

.vanadium-advice.vanadium-invalid, .vanadium-advice.vanadium-invalid * {
	color: red;
}

input.vanadium-valid ~ .vanadium-valid-advice {
	display: inline !important;
	color: green;
}

/* Float-right without any margins or anything else */
.floatright-nm {float:right}

/* The red arrow for mandatory fields */
.req-arrow {
	background:url(/files/c/c0/Mand-arrow-2pxtop.png) no-repeat center left;
}

/* The i symbol*/
.tooltip-nowidth-image {
	background:url( /files/e/e0/Info-16.svg.png ) no-repeat; 
	width:16px; 
	height:16px;
	vertical-align: text-bottom
}

/* Date Record Styles */
th.cal_timeslot { vertical-align:top; font-weight: bold; width: 100px; padding-left: 5px; border: 1px solid #bbbbbb; }
.cal_cell_person_week .NavContent { width: 200px; }
.cal_cell_person_hour { width: 100%; vertical-align: top; display: inline; float: left; border-bottom: 1px solid #bbbbbb; }
.cal_cell_person_hour p { margin-top: 0; padding-left: 5px; }
.cal_cell_person_hour .Activity-record th { display: none; }
.prefsection table.date_maintable { border: 1px solid #bbbbbb; border-collapse: collapse; }


/* Hide headings on cat pages */
.page-Category_Documents #mw-pages h2, 
.page-Category_Activities #mw-pages h2, 
.page-Category_Dates #mw-pages h2,
.page-Category_Departments #mw-pages h2,
.page-Category_Organisations #mw-pages h2,
.page-Category_People #mw-pages h2,
.page-Category_Procedures #mw-pages h2,
.page-Category_Projects #mw-pages h2,
.page-Category_Roles #mw-pages h2,
.page-Category_Posts #mw-pages h2,
.page-Category_Transactions #mw-pages h2,
.page-Category_Invoices #mw-pages h2,
.page-Category_Tasks #mw-pages h2 { display: none; }

/* Hide cat page details on load */
.page-Category_Documents #mw-pages, 
.page-Category_Activities #mw-pages, 
.page-Category_Dates #mw-pages,
.page-Category_Departments #mw-pages,
.page-Category_Organisations #mw-pages,
.page-Category_People #mw-pages,
.page-Category_Procedures #mw-pages,
.page-Category_Projects #mw-pages,
.page-Category_Roles #mw-pages,
.page-Category_Posts #mw-pages,
.page-Category_Transactions #mw-pages,
.page-Category_Invoices #mw-pages,
.page-Category_Tasks #mw-pages { display: none; }

/* Prefs cols */
.prefsection td.mw-label { width: auto; text-align: left; }

table#mw-htmlform-display td, table#mw-htmlform-advancedwatchlist td, table#mw-htmlform-advancedsearchoptions td, table#mw-htmlform-textboxsize td, table#mw-htmlform-timeoffset td, table#mw-htmlform-files td, table#mw-htmlform-advancedrendering td, fieldset.prefsection fieldset table td, table#mw-htmlform-info td {
	text-align:left;
	padding-right:10px;
}

fieldset.prefsection fieldset table th {
	width: 125px;
	text-align: left;
	padding-right: 10px;
} 

form th, .recordadmin-template th { text-align: left; }

body.ns-0 div#preferences, body.ns-2 div#preferences, body.ns-14 div#preferences {
    float: none;
    margin-bottom: 20px;
}

body.page-Special_Preferences .prefsection table {
	width: auto;
}

.recordadmin-create, .recordadmin-create table {
	background: #F5F5F0;
}

/* Person Form */
form.person-record td.EmailList textarea,
form.person-record td.EmailList p {
	width: 150px;
}

/* lose ra-title row */
.recordadmin-create-id { display:none; }
#record-name-input { width: 100%; }

/* fieldset deeper */
#mw-preferences-form, .page-Special_Preferences form {
	margin-bottom: 20px;
	margin-top: 10px 
}
/* code sections */
.od-code pre {
	margin: 0;
	padding: 0;
}

body.hide-cats #catlinks {
	display: none;
}
