/*
 * Increase width of sidebar to 15em (vector)
 */
div#content, div#footer, div#mw-head-base {
    margin-left: 15em;
}
div#left-navigation {
    left: 15em;
}
div#mw-panel {
    width: 15em;
}

/*
 * Default treeview styles
 */
.dtree {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dTreeNode { height: 18px }
.dtree a {
	color: black;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a:hover, .dtree a.nodeSel:hover {
	color: black;
	text-decoration: underline;
}
body .dtree a.node:hover {
	text-decoration: none;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: hidden;
	padding-bottom: 1px;
}

/*
 * Breadcrumbs
 */
.booknav-breadcrumbs {
	background: #18385f;
	color: white;
	font-size: 16pt;
	padding: 10px;
	width: 700px;
	height: 18px;
}
.booknav-breadcrumbs a {
	color: white;
	background: transparent;
	padding-right: 0;
}


/*
 * Prev/next
 */
.booknav-prevnext {
	text-align: center;
	background: #d1d8ea;
	color: black;
	font-size: 16pt;
	padding: 10px;
	width: 700px;
	height: 18px;
}
.booknav-prevnext a {
	color: black;
	background: transparent;
	padding-right: 0;
}
.booknav-prev {
	text-align: right;
	float: left;
	width: 45%;
	background: url( /wiki/extensions/BookNavigation/img/prev.gif ) left no-repeat;
}
.booknav-next {
	text-align: left;
	float: right;
	width: 45%;
	background: url( /wiki/extensions/BookNavigation/img/next.gif ) right no-repeat;
}


/*
 * Chapter headers
 */
.booknav-chapter {
	position: relative;
	z-index: 10;
	width: 150px;
	color: white;
	background: #18385f;
	text-align: center;
	font-size: 14pt;
	margin: 0 0 10px 0;
	padding: 5px;
	border-radius: 9px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.booknav-chapter a, .booknav-chapter a:visited {
	color: white;
}
.booknav-chapter strong {
	font-weight: normal;
}
div.booknav-navlink {
	background: black;
}

/*
 * Navigation tree
 */
body .dtree {
	white-space: normal;
}
body .dTreeNode {
	height: auto;
}
#booknav-sidebar {
	padding: 0 0 0 5px;
}
.booknavtree {
	position: relative;
	z-index: 9;
	top: -10px;
}
body .booknavtree .dTreeNode a.booknav-selected {
	background-color: #fffe00;
}
.booknavtree p {
	display: none;
}
body .booknavtree .dTreeNode, body .booknavtree .dTreeNode a {
	font-size: 12pt;
	color: black;
	margin-top: 6pt;
	background: transparent;
	padding: 0 0 0 2pt;
}
body .booknavtree div div div div .dTreeNode, body .booknavtree div div div div .dTreeNode a {
	font-size: 10pt;
	margin-top: 2pt;
}
