/*
 * #18385f - dark blue
 * #d1d8ea - light blue
 * #fffe00 - yellow
*/

/*
 * Breadcrumbs
 */
.booknav-breadcrumbs {
	background: #18385f;
	color: white;
	font-size: 16pt;
	padding: 10px;
	width: 600px;
	height: 18px;
}
.booknav-breadcrumbs a {
	color: white;
	background: transparent;
	padding-right: 0;
}

/*
 * Prev/next
 */
.booknav-prevnext {
	text-align: center;
	background: #d1d8ea;
	color: black;
	font-size: 16pt;
	padding: 10px;
	width: 600px;
	height: 18px;
}
.booknav-prevnext a {
	color: black;
	background: transparent;
	padding-right: 0;
}
.booknav-prev {
	text-align: right;
	float: left;
	width: 45%;
	background: url( /wiki/extensions/BookNavigation/img/prev.gif ) left no-repeat;
}
.booknav-next {
	text-align: left;
	float: right;
	width: 45%;
	background: url( /wiki/extensions/BookNavigation/img/next.gif ) right no-repeat;
}


/*
 * Chapter headers
 */
.booknav-chapter {
	width: 150px;
	color: white;
	background: #18385f;
	text-align: center;
	font-size: 14pt;
	padding: 5px;
	border-radius: 9px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
.booknav-chapter a {
	color: white;
}


/*
 * Navigation tree
 */
.booknavtree {
	position: relative;
	top: -25px;
	left: 5px;
}
#content .booknavtree .dTreeNode, #content .booknavtree .dTreeNode a {
	font-size: 12pt;
	color: black;
	margin-top: 6pt;
	background: transparent;
	padding: 0 0 0 2pt;
}
#content .booknavtree div div div div .dTreeNode, #content .booknavtree div div div div .dTreeNode a {
	font-size: 10pt;
	margin-top: 2pt;
}
