.widget_col { 
	float: left;
}

#control_buttons {
	position: absolute;
	right: 0px;
	top: 10px;
	width: 50px;
	border: none;
}

#edit_button {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	background: url( minmax.png );
	margin-right: 5px;
}

#delete_button {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	background: url( close.png );
	margin-right: 5px;
}

