/*If you want to change the height, change the #p-logo height px value, then raise or lower the first three px values (content margin-top, column-one padding-top and p-cactions top) below.*/

/* To change the width, change the #p-logo width px value*/

/*If you want to center a logo vertically in its space, change the #p-logo top px value. Change the left value to move it right.*/

#top-div {
	height:100px;
}

#sidebartree {
	padding-left:5px;
	padding-right:5px;
}

#p-cactions {
    top:80px;
}

#p-logo {
    height:50px;
    width:240px;
    margin-bottom:10px;
    top:10px;
    left:5px;
}

#p-logo a, #p-logo a:hover {
    height:50px;
    width:100%;
}


#contentSub {display:none}

a, h2, h3, #p-cactions li a, #p-personal li a {
	color: #204027;
}

h1 {color: #5F5447}

** Ra-create portlet
*/

input.raCreateButton {
	margin-top: 1px;
	height:95%;
	font-size: 95%;
	padding-left: .5em;
	padding-right: .5em;
}
/*.recordbuttoncreate {
	padding-left: .5em;
	padding-right: .5em;
	font-weight: bold;
}*/
#p-racreate .pBody {
	padding: .5em .4em .4em .4em;
	text-align: left;
}

#p-racreate h5 {margin-bottom:0}

#search-create {
	position: absolute;
	top: 40px;
	right: 18px;
	margin: 0;
	width:auto;
}

/*Sidebar width*/

.dTreeNode {
max-width:190px;
}

.page-Category_Documents #mw-pages h2, 
.page-Category_Activities #mw-pages h2, 
.page-Category_Dates #mw-pages h2,
.page-Category_Departments #mw-pages h2,
.page-Category_Organisations #mw-pages h2,
.page-Category_People #mw-pages h2,
.page-Category_Procedures #mw-pages h2,
.page-Category_Projects #mw-pages h2,
.page-Category_Roles #mw-pages h2,
.page-Category_Tasks #mw-pages h2 {display:none}
