body {
	background-image: url( ../img/bg2.jpg );
}
address {
	margin-left: -472px;
}
address a {
	background: transparent url( ../img/odsocial.png ) 0 -3px no-repeat;
	width: 137px;
}
#core, address {
	background-color: transparent;
	background-image: none;
}
#aside_primary_wrapper {
	background-color: rgba(0,0,0,0.1);
}
#header {
	background: white url( ../img/pollen.jpg ) -110px -20px no-repeat;
}
