body {
	background-image: url( ../img/bg2.jpg );
}
address a {
	background: transparent url( ../img/odsocial.png );
}
#core, address {
	background-color: transparent;
}
#aside_primary_wrapper {
	background-color: rgba(0,0,0,0.1);
}
#header {
	background: white url( ../img/pollen.jpg ) -110px -20px no-repeat;
}
