body {
	background-image: url( ../img/bg2.jpg );
}
address a {
	background-image: url( ../img/odsocial.jpg );
}
#core, address {
	background-color: transparent;
}
#aside_primary_wrapper {
	background-color: rgba(0,0,0,0.1);
}
#header {
	background-image: url( ../img/pollen.jpg );
	background-size: 592px 82px;
}
