.odmaps-info {
	font-size: 9pt;
	text-align: justify;
}

#globalWrapper .odmaps-info h1 {
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.odmaps-info img {
	float: left;
	padding: 0 5px 5px 0;
}

.odmaps-label {
	color: black;
	background-color: #ffc;
	border: 1px solid black;
	font-size: 7pt;
	line-height: 1.3em;
	padding: 0px 6px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
}
