.odmaps-info {
	font-size: 9pt;
	text-align: justify;
}

#globalWrapper .odmaps-info h1 {
	font-size: 11pt;
	font-weight: bold;
	margin-bottom: 5px;
}

.odmaps-info img {
	float: left;
	padding: 0 5px 5px 0;
}
