.ajaxmap-info {
    position: absolute;
    z-index: 10;
    background: transparent url( './ajaxmap-info-bg.png' ) repeat;
    border: 1px solid black;
    width: 350px;
}
.ajaxmap-info-content {
    padding: 5px 5px 5px 8px;
}
.ajaxmap-info-content th {
    vertical-align: top;
    width: 140px;
}
.ajaxmap-info-content td {
    vertical-align: top;
    width: 100%;
}
.ajaxmap-info-top img {
    float: right;
    cursor: pointer;
    margin: 1px;
}
.ajaxmap-info-top div {
    width: 300px;
    padding: 3px 5px;
}
.ajaxmap-info a {
    font-size: 13px;
    text-decoration: underline;
}
.ajaxmap-info-icon {
    padding: 5px 2px;
}
