/* CSS placed here will be applied to all skins */

.page-Special_EduLogin .errorbox, .page-Special_EduLogin_UserLogin .errorbox {
    color: white;
    background: #C0504C;
    border: 3px solid #89393C;
    width: 100%;
    float: none;
    margin: 0 0 20px 0;
    padding: 10px 0;
    text-align: center;
    font-size: 150%;
    line-height: 150%;
}

form.edulogin {
    background: #D1D8EA;
    padding: 0;
    margin: 0;
}

form.edulogin table {
    padding: 10px;
    margin: 0;
    font-size: 110%;
}

form.edulogin h2 {
    color: white;
    font-weight: bold;
    background: #1F487C;
    border-bottom: 4px solid white;
    padding: 10px;
}

form.edulogin .edu-input input {
    background: white;
    border: 2px solid #5780B4;
    padding: 5px 10px;
}

form.edulogin .edu-submit input {
    color: white;
    background: #4F81BE;
    border: 2px solid #365E8C;
    font-size: 120%;
    padding: 5px 10px;
}

form#edu-userlogin {
    margin-right: 50px;
}
